@using ClashOfTheCharacters.Helpers;
@using ClashOfTheCharacters.Models;

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Home Page";

    IEnumerable<Challenge> challenges = ViewBag.Challenges;
    IEnumerable<Battle> battles = ViewBag.Battles;

    var userId = ViewBag.UserId;

    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/fancybox-custom.js"></script>
}


    <div class="row">
        <div class="container col-md-12">
            <div class="col-md-12 col-battles">
                <h3>Received Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Ladder Points</th>
                            <th class="text-right">Accept</th>
                            <th class="text-right">Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ReceiverId == userId))
                        {
                            <tr>
                                <td><h5>@challenge.Challenger.UserName</h5></td>
                                <td><h5>@challenge.Challenger.LadderPoints</h5></td>
                                <td class="text-right"><a href="/Battle/Accept/@challenge.Id"><span class="text-success fa fa-2x fa-check"></span></a></td>
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Sent Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Ladder Points</th>
                            <th class="text-right">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ChallengerId == userId && c.Accepted == false))
                        {
                            <tr>
                                <td><h5>@challenge.Receiver.UserName</h5></td>
                                <td><h5>@challenge.Receiver.LadderPoints</h5></td>
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Trainers "Online"</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Ladder Points</th>
                            <th class="text-right">Challenge</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.OrderByDescending(u => u.LadderPoints))
                        {
                            <tr>
                                <td><h5>@user.UserName</h5></td>
                                <td><h5>@user.LadderPoints</h5></td>
                                <td class="text-right"><a href="/Battle/Challenge/@user.Id"><span class="fa fa-2x fa-send"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
