@using ClashOfTheCharacters.Helpers;
@using ClashOfTheCharacters.Models;

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Battle";

    IEnumerable<Challenge> challenges = ViewBag.Challenges;
    //IEnumerable<Battle> battles = ViewBag.Battles;

    var userId = ViewBag.UserId;

    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/fancybox-custom.js"></script>
    
}


    <div class="row">
        <div class="container col-md-12">
            <div class="col-md-12 col-battles">
                <h3>Received Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Accept</th>
                            <th class="text-right">Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ReceiverId == userId))
                        {
                            <tr>
                                <td><h5>@challenge.Challenger.UserName</h5></td>
                                <td><h5 class="text-center">@challenge.Challenger.LadderPoints</h5></td>
                                <td>
                                    @*@*Hover Dropdown*@
                                    <div class="dropdown center-block">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>

                                        <div class="container-fluid dropdown-menu">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var teamMember = challenge.Challenger.TeamMembers.FirstOrDefault(tm => tm.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(teamMember != null ? "Lvl: " + teamMember.Level.ToString() : "Empty")
                                                            @if (teamMember != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(teamMember.Character.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(teamMember != null ? teamMember.Character.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(teamMember != null ? teamMember.Damage.ToString() : "")</p>
                                                        <p>Def: @(teamMember != null ? teamMember.Defense.ToString() : "")</p>
                                                        <p>Hp: @(teamMember != null ? teamMember.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>                       
                                <td class="text-right"><a href="/Battle/Accept/@challenge.Id"><span class="text-success fa fa-2x fa-check"></span></a></td>
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Sent Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ChallengerId == userId && c.Accepted == false))
                        {
                            <tr>
                                <td><h5>@challenge.Receiver.UserName</h5></td>
                                <td><h5 class="text-center">@challenge.Receiver.LadderPoints</h5></td>
                                <td>
                                    @*@*Hover Dropdown*@
                                    <div class="dropdown center-block">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>

                                        <div class="container-fluid dropdown-menu">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var teamMember = challenge.Receiver.TeamMembers.FirstOrDefault(tm => tm.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(teamMember != null ? "Lvl: " + teamMember.Level.ToString() : "Empty")
                                                            @if (teamMember != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(teamMember.Character.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(teamMember != null ? teamMember.Character.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(teamMember != null ? teamMember.Damage.ToString() : "")</p>
                                                        <p>Def: @(teamMember != null ? teamMember.Defense.ToString() : "")</p>
                                                        <p>Hp: @(teamMember != null ? teamMember.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td> 
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Trainers "Online"</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Challenge</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.OrderByDescending(u => u.LadderPoints))
                        {
                            <tr>
                                <td><a><h5>@user.UserName</h5></a></td>
                                <td><h5 class="text-center">@user.LadderPoints</h5></td>   
                                <td>
                                    @*@*Hover Dropdown*@                     
                                    <div class="dropdown center-block">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>
                                                                                      
                                        <div class="container-fluid dropdown-menu">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var teamMember = user.TeamMembers.FirstOrDefault(tm => tm.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(teamMember != null ? "Lvl: " + teamMember.Level.ToString() : "Empty")
                                                            @if (teamMember != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(teamMember.Character.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(teamMember != null ? teamMember.Character.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(teamMember != null ? teamMember.Damage.ToString() : "")</p>
                                                        <p>Def: @(teamMember != null ? teamMember.Defense.ToString() : "")</p>
                                                        <p>Hp: @(teamMember != null ? teamMember.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>  
                                    </div>             
                                </td>                                  
                                <td class="text-right">
                                    
                                    @if (user.Id != userId && challenges.Where(c => c.ChallengerId == userId && c.ReceiverId == user.Id && !c.Accepted).Count() < 2)
                                    {
                                        <a href="/Battle/Challenge/@user.Id"><span class="fa fa-2x fa-send"></span></a>
                                    }

                                    else
                                    {
                                        <a class="btn-hover">
                                            <span class="text-on-hover">@(user.Id == userId ? "Can't Challenge Yourself" : "Max. 2 Active Challenges")</span>
                                            <span class="fa fa-2x fa-send"></span>
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>


