@using ClashOfTheCharacters.Helpers;
@using ClashOfTheCharacters.Models;

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Battle";

    IEnumerable<Challenge> challenges = ViewBag.Challenges;
    IEnumerable<Battle> activeBattles = ViewBag.ActiveBattles;

    var userStamina = ViewBag.Stamina;
    var userId = ViewBag.UserId;

    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/fancybox-custom.js"></script>
    
}

    <div class="row">
        <div class="container col-md-12">
            <div class="col-md-12 col-battles">
                <h3>Received Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Accept</th>
                            <th class="text-right">Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ReceiverId == userId))
                        {
                            <tr>
                                <td><h5>@challenge.Challenger.UserName</h5></td>
                                <td><h5 class="text-center">@challenge.Challenger.LadderPoints</h5></td>
                                <td>
                                    @*@*Hover Dropdown*@
                                    <div class="dropdown center-block dropdown-hover">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>

                                        <div class="container-fluid dropdown-menu dropdown-menu-hover">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var userCreature = challenge.Challenger.UserCreatures.Where(uc => uc.InSquad).FirstOrDefault(uc => uc.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(userCreature != null ? "Lvl: " + userCreature.Level.ToString() : "Empty")
                                                            @if (userCreature != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(userCreature.Creature.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(userCreature != null ? userCreature.Creature.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(userCreature != null ? userCreature.Damage.ToString() : "")</p>
                                                        <p>Def: @(userCreature != null ? userCreature.Defense.ToString() : "")</p>
                                                        <p>Hp: @(userCreature != null ? userCreature.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>                       
                                <td class="text-right"><a href="/Battle/Accept/@challenge.Id"><span class="text-success fa fa-2x fa-check"></span></a></td>
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Sent Challenges</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Cancel</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var challenge in challenges.Where(c => c.ChallengerId == userId && c.Accepted == false))
                        {
                            <tr>
                                <td><h5>@challenge.Receiver.UserName</h5></td>
                                <td><h5 class="text-center">@challenge.Receiver.LadderPoints</h5></td>
                                <td>
                                    @*@*Hover Dropdown*@
                                    <div class="dropdown center-block dropdown-hover">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>

                                        <div class="container-fluid dropdown-menu dropdown-menu-hover">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var userCreature = challenge.Receiver.UserCreatures.Where(uc => uc.InSquad).FirstOrDefault(uc => uc.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(userCreature != null ? "Lvl: " + userCreature.Level.ToString() : "Empty")
                                                            @if (userCreature != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(userCreature.Creature.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(userCreature != null ? userCreature.Creature.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(userCreature != null ? userCreature.Damage.ToString() : "")</p>
                                                        <p>Def: @(userCreature != null ? userCreature.Defense.ToString() : "")</p>
                                                        <p>Hp: @(userCreature != null ? userCreature.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td> 
                                <td class="text-right"><a href="/Battle/Cancel/@challenge.Id"><span class="fa fa-2x fa-remove"></span></a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-battles">
                <h3>Trainers "Online"</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th class="text-center">Ladder Points</th>
                            <th class="text-center">Team</th>
                            <th class="text-right">Challenge</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.OrderByDescending(u => u.LadderPoints))
                        {
                            <tr>
                                <td><a><h5>@user.UserName</h5></a></td>
                                <td><h5 class="text-center">@user.LadderPoints</h5></td>   
                                <td>
                                    @*@*Hover Dropdown*@                     
                                    <div class="dropdown center-block dropdown-hover">
                                        <a class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="fa fa-users"></span>
                                        </a>
                                                                                      
                                        <div class="container-fluid dropdown-menu dropdown-menu-hover">

                                            @for (int i = 0; i < 6; i++)
                                            {
                                                var userCreature = user.UserCreatures.Where(uc => uc.InSquad).FirstOrDefault(uc => uc.Slot == i + 1);

                                                <div class="col-md-4 col-xs-4">
                                                    <div class="col-md-12 gamecard-xs">
                                                        <p>
                                                            @(userCreature != null ? "Lvl: " + userCreature.Level.ToString() : "Empty")
                                                            @if (userCreature != null)
                                                            {
                                                                <span>
                                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(userCreature.Creature.Element)" />
                                                                </span>
                                                            }
                                                        </p>
                                                        <img class="img-responsive" src="@(userCreature != null ? userCreature.Creature.ImageUrl : "/Images/Other/concrete.jpg")" />
                                                        <p>Dmg: @(userCreature != null ? userCreature.Damage.ToString() : "")</p>
                                                        <p>Def: @(userCreature != null ? userCreature.Defense.ToString() : "")</p>
                                                        <p>Hp: @(userCreature != null ? userCreature.Hp.ToString() : "")</p>
                                                    </div>
                                                </div>

                                                if (i == 2)
                                                {
                                                    <div class="clearfix visible-xs"></div>
                                                    <div class="clearfix visible-sm"></div>
                                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                                }
                                            }
                                        </div>  
                                    </div>             
                                </td>                                  
                                <td class="text-right">
                                    
                                    @if (user.Id == userId)
                                    {
                                        <a class="btn-hover">
                                            <span class="text-on-hover">Can't challenge yourself</span>
                                            <span class="fa fa-2x fa-send"></span>
                                        </a>
                                    }

                                    else if (challenges.Where(c => c.ChallengerId == userId && c.ReceiverId == user.Id && !c.Accepted).Count() == 2 || activeBattles.Count(c => c.Challenge.ReceiverId == user.Id) == 2)
                                    {
                                        <a class="btn-hover">
                                            <span class="text-on-hover">Max 2 active challenges</span>
                                            <span class="fa fa-2x fa-send"></span>
                                        </a>
                                    }

                                    else if (userStamina < 6)
                                    {
                                        <a class="btn-hover">
                                            <span class="text-on-hover">Not enough stamina</span>
                                            <span class="fa fa-2x fa-send"></span>
                                        </a>
                                    }

                                    else
                                    {
                                        <a href="/Battle/Challenge/@user.Id"><span class="fa fa-2x fa-send"></span></a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>


