@using ClashOfTheCharacters.Models
@using ClashOfTheCharacters.Helpers

@model IEnumerable<AuctionCreature>

@{
    ViewBag.Title = "Auction House - Creatures";
    ApplicationUser user = ViewBag.User;
}

<div class="row">

    <div class="col-md-12 auction-buttons">
        <div class="col-md-4">
            @Html.ActionLink("Ongoing", "Index", null, new { @class = "btn btn-custom btn-block" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Selling", "Selling", null, new { @class = "btn btn-custom btn-block" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Targets", "Targets", null, new { @class = "btn btn-custom btn-block" })
        </div>
        <div class="col-md-12">
            <div class="dropdown text-right">
                <button class="btn-link dropdown-toggle" type="button" id="creature-option" data-toggle="dropdown">
                    <span class="fa fa-ellipsis-h fa-2x"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="creature-option">
                    <li>
                        @Html.ActionLink("Clear all expired targets", "ClearTargets")
                    </li>
                    <li>
                        @Html.ActionLink("Clear all expired sales", "ClearSales")
                    </li>
                </ul>
            </div>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="col-md-12">
                <h3 class="text-center">Nothing to show</h3>
            </div>
        }
    </div>

    @foreach (var auctionCreature in Model)
    {
        <div class="col-md-12 col-xs-12 container-auction">
            <div class="col-md-3 col-xs-4">
                <button type="button" class="btn-none" data-toggle="modal" data-target="#gamecard-modal-@auctionCreature.Id">
                    <div class="col-md-12 col-xs-12 gamecard-auction">
                        <p>
                            Lvl: @auctionCreature.UserCreature.Level

                            <span>
                                <img class="gamecard-element-small" src="@Helper.GetElementUrl(auctionCreature.UserCreature.Creature.Element)" />
                            </span>

                        </p>
                        <img class="img-responsive" src="@auctionCreature.UserCreature.Creature.ImageUrl" />
                        <p>Dmg: @auctionCreature.UserCreature.Damage</p>
                        <p>Def: @auctionCreature.UserCreature.Defense</p>
                        <p>Hp: @auctionCreature.UserCreature.Hp</p>
                    </div>

                </button>
            </div>
            <div class="col-md-9 col-xs-8">
                <div class="col-md-12">
                    <div class="col-md-4 col-xs-4">
                        <h5>Time Remaining</h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <h5>@(auctionCreature.Finished ? "Expired" : @Helper.GetRemainingTime(auctionCreature.EndTime))</h5>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        @if (auctionCreature.CurrentBidder == user || auctionCreature.Owner == user && auctionCreature.Finished && auctionCreature.CurrentBid != null)
                        {
                            <h5><span class="fa fa-check text-success pull-right"></span></h5>
                        }

                        else if (auctionCreature.Owner == user && auctionCreature.Finished && auctionCreature.CurrentBid == null)
                        {
                            <h5><span class="fa fa-remove text-danger pull-right"></span></h5>
                        }

                        @if (user.AuctionTargets.Any(at => at.AuctionCreature == auctionCreature) && auctionCreature.Owner != user)
                        {
                            <h5><span class="fa fa-binoculars pull-right"></span></h5>
                        }
                    </div>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <h5>Start Price</h5>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h5>@auctionCreature.StartPrice</h5>
                    </div>
                </div>
                <div class="col-md-12 col-xs-12 margin-bottom-10">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <h5>@Html.AttributeEncode(auctionCreature.Finished ? "End Price" : "Current Bid")</h5>
                    </div>
                    <div class="col-md-4 col-sm-8 col-xs-6">
                        <h5>@(auctionCreature.CurrentBid == null ? "None" : auctionCreature.CurrentBid.ToString())</h5>
                    </div>
                    @if (user.AuctionTargets.Any(at => at.AuctionCreature == auctionCreature) && auctionCreature.Owner != user)
                    {
                        <form role="form" action="/Auction/UntargetCreature" method="post">
                            <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-custom form-control">Untarget</button>
                            </div>
                        </form>
                    }

                    else if (auctionCreature.Owner != user)
                    {
                        <form role="form" action="/Auction/TargetCreature" method="post">
                            <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-custom form-control">Target</button>
                            </div>
                        </form>
                    }

                </div>

                @if (!auctionCreature.Finished && auctionCreature.Owner != user)
                {
                    <div class="col-md-12 col-xs-12 margin-bottom-10">
                        <div class="col-md-4">
                            <h5>Bid</h5>
                        </div>
                        <form action="/Auction/BidCreature" method="post" role="form">
                            <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                            <div class="col-md-4">
                                <input type="number" name="amount" class="form-control" min="@Html.AttributeEncode(auctionCreature.CurrentBid == null ? auctionCreature.StartPrice : auctionCreature.CurrentBid + 50)" max="@Html.AttributeEncode(auctionCreature.BuyoutPrice > ViewBag.Gold || auctionCreature.BuyoutPrice == null ? ViewBag.Gold : auctionCreature.BuyoutPrice - 1)" value="@Html.AttributeEncode(auctionCreature.CurrentBid == null ? auctionCreature.StartPrice : auctionCreature.CurrentBid + 50)">
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-custom form-control">Place Bid</button>
                            </div>
                        </form>
                    </div>
                }

                @if (auctionCreature.BuyoutPrice != null)
                {
                    <div class="col-md-12 col-xs-12">
                        <div class="col-md-4 col-xs-6">
                            <h5>Buyout Price</h5>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <h5>@auctionCreature.BuyoutPrice</h5>
                        </div>
                        @if (!auctionCreature.Finished && auctionCreature.Owner != user)
                        {
                            <form role="form" action="/Auction/BuyoutCreature" method="post">
                                <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-custom form-control">Buy Now</button>
                                </div>
                            </form>
                        }

                    </div>
                }

            </div>
            <div class="col-md-12 col-xs-12">
                <hr />
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="gamecard-modal-@auctionCreature.Id" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 gamecard margin-bottom-10">
                        <h4>
                            <span><img class="gamecard-rarity" src="@Helper.GetRarityUrl(auctionCreature.UserCreature.Creature.Rarity)" /></span>
                            <strong>@auctionCreature.UserCreature.Creature.Name</strong>
                            <span> Lvl: @auctionCreature.UserCreature.Level</span>
                            <span><img class="gamecard-element" src="@Helper.GetElementUrl(auctionCreature.UserCreature.Creature.Element)" /></span>
                        </h4>
                        <img class="img-responsive gamecard-image" src=@auctionCreature.UserCreature.Creature.ImageUrl />
                        <div class="gamecard-xpbar">
                            <div style="width:@Helper.GetPercentage(auctionCreature.UserCreature.Xp, auctionCreature.UserCreature.MaxXp)%"></div>
                        </div>

                        <p>
                            <span class="gamecard-worth">Worth: @auctionCreature.UserCreature.Worth</span>
                            <span class="gamecard-xp-maxxp">@auctionCreature.UserCreature.Xp / @auctionCreature.UserCreature.MaxXp Xp</span>
                        </p>

                        <div class="clearfix visible-lg"></div>
                        <div class="clearfix visible-sm"></div>
                        <div class="clearfix visible-md"></div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                            <h5>Stats</h5>
                            <p>Dmg: @auctionCreature.UserCreature.Damage</p>
                            <p>Def: @auctionCreature.UserCreature.Defense</p>
                            <p>Hp: @auctionCreature.UserCreature.Hp</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                            <h5>History</h5>
                            <p>Fights: @auctionCreature.UserCreature.Battles</p>
                            <p>Kills: @auctionCreature.UserCreature.Kills</p>
                            <p>Deaths: @auctionCreature.UserCreature.Deaths</p>
                        </div>
                        <div class="col-md-12 margin-top-20">
                            <h5 class="text-center text-info">Seller: @auctionCreature.Owner.UserName</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>