@using ClashOfTheCharacters.Helpers

@model IEnumerable<ClashOfTheCharacters.Models.AuctionItem>

@{
    ViewBag.Title = "Auction House - Items";
}

<div class="row">
    @foreach (var auctionItem in Model)
    {
        <div class="col-md-3">
            <h3>@auctionItem.UserItem.Item.Name</h3>
            <p>Owner: @auctionItem.Owner.UserName</p>
            <p>Start Price: @auctionItem.StartPrice</p>
            <p>Buyout Price: @auctionItem.BuyoutPrice</p>
            <p>Current Bid: @(auctionItem.CurrentBid == null ? "None" : auctionItem.CurrentBid.ToString())</p>
            <p>Current Bidder: @(auctionItem.CurrentBidder.UserName == null ? "None" : auctionItem.CurrentBidder.UserName)</p>
            <a href="#" class="btn btn-danger btn-block">Bid</a>
        </div>
    }
</div>
