@model ClashOfTheCharacters.ViewModels.AuctionCreatureViewModel

@{
    ViewBag.Title = "Sell Creature";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <h5>Sell <span>@Html.ValueFor(model => model.Name)</span></h5>
    <hr />
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.UserCreatureId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyoutPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuyoutPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BuyoutPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hours, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hours, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sell" style="min-width: 100px" class="btn btn-custom" />
                <p>5% Tax</p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Creatures", "Index", "Creature")
</div>
