@using ClashOfTheCharacters.Helpers

@model IEnumerable<ClashOfTheCharacters.Models.AuctionTarget>

@{
    ViewBag.Title = "Auction House - Creatures";
    int counter = 0;
}

@if (Model.Count() == 0)
{
    <h3>You have no targets</h3>
}

<div class="row">

    @foreach (var auctionTarget in Model)
    {
        counter++;

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12 gamecard margin-bottom-10">
                <h4>
                    <span><img class="gamecard-rarity" src="@Helper.GetRarityUrl(auctionTarget.AuctionCreature.UserCreature.Creature.Rarity)" /></span>
                    <strong>@auctionTarget.AuctionCreature.UserCreature.Creature.Name</strong>
                    <span> Lvl: @auctionTarget.AuctionCreature.UserCreature.Level</span>
                    <span><img class="gamecard-element" src="@Helper.GetElementUrl(auctionTarget.AuctionCreature.UserCreature.Creature.Element)" /></span>
                </h4>
                <img class="img-responsive gamecard-image" src=@auctionTarget.AuctionCreature.UserCreature.Creature.ImageUrl />
                <div class="gamecard-xpbar">
                    <div style="width:@Helper.GetPercentage(auctionTarget.AuctionCreature.UserCreature.Xp, auctionTarget.AuctionCreature.UserCreature.MaxXp)%"></div>
                </div>

                <p>
                    <span class="gamecard-worth">Worth: @auctionTarget.AuctionCreature.UserCreature.Worth</span>
                    <span class="gamecard-xp-maxxp">@auctionTarget.AuctionCreature.UserCreature.Xp / @auctionTarget.AuctionCreature.UserCreature.MaxXp Xp</span>
                </p>

                <div class="clearfix visible-lg"></div>
                <div class="clearfix visible-sm"></div>
                <div class="clearfix visible-md"></div>
                <div class="clearfix visible-xs"></div>

                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <h5>Stats</h5>
                    <p>Dmg: @auctionTarget.AuctionCreature.UserCreature.Damage</p>
                    <p>Def: @auctionTarget.AuctionCreature.UserCreature.Defense</p>
                    <p>Hp: @auctionTarget.AuctionCreature.UserCreature.Hp</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                    <h5>History</h5>
                    <p>Fights: @auctionTarget.AuctionCreature.UserCreature.Battles</p>
                    <p>Kills: @auctionTarget.AuctionCreature.UserCreature.Kills</p>
                    <p>Deaths: @auctionTarget.AuctionCreature.UserCreature.Deaths</p>
                </div>
                <h5 class="text-center text-info">Current Trainer: @auctionTarget.AuctionCreature.Owner.UserName</h5>
            </div>

            <div class="col-md-12 col-xs-12 container-auction">

                <div class="col-md-12">
                    <h5>Start Price: @auctionTarget.AuctionCreature.StartPrice <span class="pull-right">@(auctionTarget.AuctionCreature.Finished ? "Finished" : "Time Remaining: " + @Helper.GetRemainingTime(auctionTarget.AuctionCreature.EndTime))</span></h5>
                    <h5>Current Bid: @(auctionTarget.AuctionCreature.CurrentBid == null ? "None" : auctionTarget.AuctionCreature.CurrentBid.ToString())</h5>
                    <h5>Buyout Price: @(auctionTarget.AuctionCreature.BuyoutPrice == null ? "None" : auctionTarget.AuctionCreature.BuyoutPrice.ToString())</h5>
                </div>

                <div class="col-md-12 margin-bottom-10">
                    <form class="form-inline" action="/Auction/BidCreature" method="post" role="form">
                        <input hidden value="@auctionTarget.AuctionCreature.Id" name="auctionCreatureId" />
                        <div class="form-group">
                            <input type="number" name="amount" class="form-control" min="@Html.AttributeEncode(auctionTarget.AuctionCreature.CurrentBid == null ? auctionTarget.AuctionCreature.StartPrice : auctionTarget.AuctionCreature.CurrentBid)" value="@Html.AttributeEncode(auctionTarget.AuctionCreature.CurrentBid == null ? auctionTarget.AuctionCreature.StartPrice : auctionTarget.AuctionCreature.CurrentBid)">
                        </div>
                        <button type="submit" class="btn btn-custom-dark form-control">Bid</button>
                    </form>
                </div>

                <div class="col-md-12 margin-bottom-10">
                    @if (auctionTarget.AuctionCreature.BuyoutPrice != null)
                    {
                        <form role="form" action="/Auction/BuyoutCreature" method="post">
                            <input hidden value="@auctionTarget.AuctionCreature.Id" name="auctionCreatureId" />
                            <button type="submit" class="btn btn-custom-dark">Buy Now</button>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-custom-dark disabled">Buy Now</a>
                    }
                </div>
            </div>
        </div>


        if (counter % 2 == 0)
        {
            <div class="clearfix visible-lg"></div>
            <div class="clearfix visible-sm"></div>
            <div class="clearfix visible-md"></div>
        }
    }
</div>


