@using ClashOfTheCharacters.Models
@using ClashOfTheCharacters.Helpers

@model IEnumerable<AuctionCreature>

@{
    ViewBag.Title = "Auction House - Creatures";
    ApplicationUser user = ViewBag.User;
}

<div class="row">

    <div class="col-md-12 auction-buttons">
        <div class="col-md-4">
            @Html.ActionLink("Creatures", "Creatures", null, new { @class = "btn btn-custom btn-block" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Selling", "Selling", null, new { @class = "btn btn-custom btn-block" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Targets", "Targets", null, new { @class = "btn btn-custom btn-block" })
        </div>
    </div>


    @if (Model.Count() == 0)
    {
        <h3>Nothing to show</h3>
    }

    @foreach (var auctionCreature in Model)
    {
            <!-- Trigger the modal with a button -->
        <div class="col-md-12 col-xs-12 container-auction">
            <div class="col-md-3 col-xs-4">
                <button type="button" class="btn-none" data-toggle="modal" data-target="#gamecard-modal-@auctionCreature.Id">
                    <div class="col-md-12 col-xs-12 gamecard-auction">
                        <p>
                            Lvl: @auctionCreature.UserCreature.Level

                            <span>
                                <img class="gamecard-element-small" src="@Helper.GetElementUrl(auctionCreature.UserCreature.Creature.Element)" />
                            </span>

                        </p>
                        <img class="img-responsive" src="@auctionCreature.UserCreature.Creature.ImageUrl" />
                        <p>Dmg: @auctionCreature.UserCreature.Damage</p>
                        <p>Def: @auctionCreature.UserCreature.Defense</p>
                        <p>Hp: @auctionCreature.UserCreature.Hp</p>
                    </div>

                </button>
            </div>
            <div class="col-md-9 col-xs-8">

                <div class="col-md-12 col-xs-12">
                    <h5>
                        @(auctionCreature.Finished ? "Finished" : "Time Remaining: " + @Helper.GetRemainingTime(auctionCreature.EndTime))
                        
                        @if (auctionCreature.CurrentBidder == user)
                        {
                            <span class="fa fa-check text-success pull-right"></span>
                        }

                        @if (user.AuctionTargets.Any(at => at.AuctionCreature == auctionCreature))
                        {
                            <span class="fa fa-binoculars pull-right"></span>
                        }

                    </h5>
                    <h5>Start Price: @auctionCreature.StartPrice</h5>
                    <h5>@Html.AttributeEncode(auctionCreature.Finished ? "End Price: " : "Current Bid: ")@(auctionCreature.CurrentBid == null ? "None" : auctionCreature.CurrentBid.ToString())</h5>
                </div>

                @if (auctionCreature.Owner != user)
                {
                    <div class="col-md-12 margin-bottom-10">
                        <form class="form-inline" action="/Auction/BidCreature" method="post" role="form">
                            <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                            <div class="form-group">
                                <input type="number" name="amount" class="form-control" min="@Html.AttributeEncode(auctionCreature.CurrentBid == null ? auctionCreature.StartPrice : auctionCreature.CurrentBid + 50)" max="@Html.AttributeEncode(auctionCreature.BuyoutPrice > ViewBag.Gold || auctionCreature.BuyoutPrice == null ? ViewBag.Gold : auctionCreature.BuyoutPrice - 1)" value="@Html.AttributeEncode(auctionCreature.CurrentBid == null ? auctionCreature.StartPrice : auctionCreature.CurrentBid + 50)">
                            </div>
                            <button type="submit" class="btn btn-custom form-control">Bid</button>
                        </form>
                    </div>

                    if (auctionCreature.BuyoutPrice != null)
                    {
                        <div class="col-md-12 margin-bottom-10">
                            <form role="form" action="/Auction/BuyoutCreature" method="post">
                                <input hidden value="@auctionCreature.Id" name="auctionCreatureId" />
                                <h5>Buyout Price: @auctionCreature.BuyoutPrice</h5>
                                <button id="buyout" type="submit" class="btn btn-custom">Buy Now</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="gamecard-modal-@auctionCreature.Id" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="col-md-12 col-sm-12 col-xs-12 gamecard margin-bottom-10">
                        <h4>
                            <span><img class="gamecard-rarity" src="@Helper.GetRarityUrl(auctionCreature.UserCreature.Creature.Rarity)" /></span>
                            <strong>@auctionCreature.UserCreature.Creature.Name</strong>
                            <span> Lvl: @auctionCreature.UserCreature.Level</span>
                            <span><img class="gamecard-element" src="@Helper.GetElementUrl(auctionCreature.UserCreature.Creature.Element)" /></span>
                        </h4>
                        <img class="img-responsive gamecard-image" src=@auctionCreature.UserCreature.Creature.ImageUrl />
                        <div class="gamecard-xpbar">
                            <div style="width:@Helper.GetPercentage(auctionCreature.UserCreature.Xp, auctionCreature.UserCreature.MaxXp)%"></div>
                        </div>

                        <p>
                            <span class="gamecard-worth">Worth: @auctionCreature.UserCreature.Worth</span>
                            <span class="gamecard-xp-maxxp">@auctionCreature.UserCreature.Xp / @auctionCreature.UserCreature.MaxXp Xp</span>
                        </p>

                        <div class="clearfix visible-lg"></div>
                        <div class="clearfix visible-sm"></div>
                        <div class="clearfix visible-md"></div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                            <h5>Stats</h5>
                            <p>Dmg: @auctionCreature.UserCreature.Damage</p>
                            <p>Def: @auctionCreature.UserCreature.Defense</p>
                            <p>Hp: @auctionCreature.UserCreature.Hp</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                            <h5>History</h5>
                            <p>Fights: @auctionCreature.UserCreature.Battles</p>
                            <p>Kills: @auctionCreature.UserCreature.Kills</p>
                            <p>Deaths: @auctionCreature.UserCreature.Deaths</p>
                        </div>
                        <h5 class="text-center text-info">Current Trainer: @auctionCreature.Owner.UserName</h5>
                    </div>
                </div>

            </div>
        </div>
    }
</div>