@using ClashOfTheCharacters.Helpers;
@using ClashOfTheCharacters.Models;

@model IEnumerable<TeamMember>

@{
    ViewBag.Title = "Team";
}


<div class="row">

    @for (int i = 0; i < 6; i++)
    {
        if (i == 2)
        {
            <div class="clearfix visible-sm"></div>
        }

        if (i % 3 == 0)
        {
            <div class="clearfix visible-md"></div>
            <div class="clearfix visible-lg"></div>
        }

        var teamMember = Model.FirstOrDefault(tm => tm.Slot == i + 1);

        <div class="col-md-4 col-sm-6">
            <div class="col-md-12 gamecard margin-bottom-20">
                <h4>
                    <strong>@(teamMember != null ? teamMember.Character.Name : "Empty Slot")</strong>
                    <span> @(teamMember != null ? "Lvl: " + teamMember.Level.ToString() : "")</span>
                    @if (teamMember != null)
                    {
                        <span><img class="gamecard-element" src="@Helper.GetElementUrl(teamMember.Character.Element)" /></span>
                    }
                </h4>
                <img class="img-responsive gamecard-image" src=@(teamMember != null ? teamMember.Character.ImageUrl : "/Images/Characters/emptyslot.jpg") />
                <div class="gamecard-xpbar">
                    <div style="width:@(teamMember != null ? Helper.GetPercentage(teamMember.Xp, teamMember.MaxXp) : "0")%"></div>
                </div>
                <p class="text-right">@(teamMember != null ? teamMember.Xp : 0) / @(teamMember != null ? teamMember.MaxXp : 0)</p>
                <p>Worth: @(teamMember != null ? teamMember.Worth : 0)</p>
                <p>Damage: @(teamMember != null ? teamMember.Damage : 0)</p>
                <p>Defense: @(teamMember != null ? teamMember.Defense : 0)</p>
                <p>Hp: @(teamMember != null ? teamMember.Hp : 0)</p>
            </div>
        </div>
    }
</div>
