@using ClashOfTheCharacters.Helpers;
@using ClashOfTheCharacters.Models;

@model IEnumerable<Character>

@{
    ViewBag.Title = "Select";
    int counter = 0;
}

<h3 class="text-center">Select Your First Character</h3>
<hr />
    <div class="row">
        @foreach (var character in Model)
        {
            counter++;

            <div class="col-md-6 col-sm-6 col-xs-12">
                <a href="/Character/Selected/@character.Id">
                    <div class="col-md-12 col-sm-12 col-xs-12 gamecard gamecard-select">
                        <h4>
                            <strong>@character.Name</strong>
                            <span> Lvl: 5</span>
                            <span><img class="gamecard-element" src="@Helper.GetElementUrl(character.Element)" /></span>
                        </h4>
                        <img class="img-responsive gamecard-image" src=@character.ImageUrl />
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center margin-top-20">
                            <h5>Base Stats</h5>
                            <p>Dmg: @character.BaseAttack</p>
                            <p>Def: @character.BaseDefense</p>
                            <p>Hp: @character.BaseHp</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-center margin-top-20">
                            <h5>Growth</h5>
                            <p>Dmg: @character.AttackMultiplier</p>
                            <p>Def: @character.DefenseMultiplier</p>
                            <p>Hp: @character.HpMultiplier</p>
                        </div>
                    </div>
                </a>
            </div>

            if (counter == 2)
            {
                <div class="clearfix visible-lg"></div>
                <div class="clearfix visible-sm"></div>
                <div class="clearfix visible-md"></div>
            }
        }
    </div>
