@using ClashOfTheCharacters.Helpers

@model IEnumerable<ClashOfTheCharacters.ViewModels.LadderViewModel>

@{
    ViewBag.Title = "Ladder";
}

<a href="/Ladder/Index"><h2>Ladder</h2></a>
<form class="form-inline" role="search">
    <div class="form-group">
        <input class="form-control" placeholder="Search for user" name="SearchInput">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Ladder points</th>
            <th>Username</th>
            <th class="text-center">Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>

                <td><h5>@user.Rank</h5></td>
                <td><h5>@user.User.LadderPoints</h5></td>
                <td><h5>@user.User.UserName</h5></td>
                <td>
                    @*@*Hover Dropdown*@
                    <div class="dropdown center-block dropdown-hover">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-users"></span>
                        </a>

                        <div class="container-fluid dropdown-menu dropdown-menu-hover">

                            @for (int i = 0; i < 6; i++)
                            {
                                var userCreature = user.User.UserCreatures.Where(uc => uc.InSquad).FirstOrDefault(uc => uc.Slot == i + 1);

                                <div class="col-md-4 col-xs-4">
                                    <div class="col-md-12 gamecard-xs">
                                        <p>
                                            @(userCreature != null ? "Lvl: " + userCreature.Level.ToString() : "Empty")
                                            @if (userCreature != null)
                                            {
                                                <span>
                                                    <img class="gamecard-element-xs" src="@Helper.GetElementUrl(userCreature.Creature.Element)" />
                                                </span>
                                            }
                                        </p>
                                        <img class="img-responsive" src="@(userCreature != null ? userCreature.Creature.ImageUrl : "/Images/Other/concrete.jpg")" />
                                        <p>Dmg: @(userCreature != null ? userCreature.Damage.ToString() : "")</p>
                                        <p>Def: @(userCreature != null ? userCreature.Defense.ToString() : "")</p>
                                        <p>Hp: @(userCreature != null ? userCreature.Hp.ToString() : "")</p>
                                    </div>
                                </div>

                                if (i == 2)
                                {
                                    <div class="clearfix visible-xs"></div>
                                    <div class="clearfix visible-sm"></div>
                                    <div class="clearfix visible-md"></div>
                                                    <div class="clearfix visible-lg"></div>
                                }
                            }
                        </div>
                    </div>

                </td>

            </tr>
        }

    </tbody>
</table>