@model ClashOfTheCharacters.Models.CurrentLand

@{
    ViewBag.Title = "Land";
}

<div class="row land margin-bottom-20" style="background-image: url(@Model.Land.BackgroundImageUrl)">
    <div class="margin-bottom-20">
        <a href="/Map/Index"><span class="back-to-map"><img src="~/Images/Land/map.png" /></span></a>
        <h2 class="text-center">
            The Land Of @Model.Land.Element           
        </h2>
    </div>

    @foreach (var stage in Model.Land.Stages)
    {
        if (Model.CurrentLevel == stage.Level)
        {
            <a href="/Land/Battle/@Model.Id">
                <span class="fa fa-4x fa-question-circle text-danger" style="@Html.AttributeEncode(string.Format("top: {0}px; left: {1}px", stage.PositionY, stage.PositionX))"></span>
            </a>
        }

        else if (Model.CurrentLevel > stage.Level)
        {
            <span class="fa fa-4x fa-check-circle" style="@Html.AttributeEncode(string.Format("top: {0}px; left: {1}px", stage.PositionY, stage.PositionX))"></span>
        }
    }

    <a href="/Map/Shop">
        <img class="shop" src="/Images/Land/shop.png" style="@Html.AttributeEncode(string.Format("top: {0}px; left: {1}px", Model.Land.ShopPositionY, Model.Land.ShopPositionX))" />
    </a>

    <form action="/Land/Leave" method="post" class="form-leave">
        <input type="submit" class="btn btn-custom-dark" value="Leave" />
        <label>You will not receive any compensation</label>
    </form>
</div>
